.main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  /*max-width: 50%;*/
  align-items: center;
  /*min-height: 100vh;*/
}

.toolBarButton {
  height: 100%;
}

.toolOne {
  display: flex;
  flex-direction: row;
}

.toolBar {
  display: flex;
  flex-direction: row;
  /*float: left;*/
  /*align-items: flex-start;*/
  /*width: 800px;*/
  /*justify-content: start;*/
  /*text-align: center;*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
}
